
/*   body             //////////////////////////////////*/


body {

    padding-top: 50px;

    font-family: Raleway, sans-serif;
    
}

.container {
    margin-top: 7px;
    margin-bottom: 7px;
}

@media (min-width: 1200px)
.container {
    max-width: 1010px;
}



/*   navbar             //////////////////////////////////*/


.navbar-header {
    width: 100%;
}



/*   banner             //////////////////////////////////*/


header {
    width: 100vw;
    font-size: 1.2em;
    left: 50%;
    background: url(https://www.paypal.com/slack/images/landing-9ac13f.png) 20% 50% / cover;
    background-position: 20% 50%;
}

.contentbox {
    margin: 40px 10px;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

header p {
    color: white;
    margin: auto;
}

/*   navigation             //////////////////////////////////*/

a {
    font-weight: bolder;
}



/*   about             //////////////////////////////////*/


#abouttext{
   padding: 15% 10%;
}

/*   how             //////////////////////////////////*/




/*   started             //////////////////////////////////*/

.slack-type {
    display: inline;
    font-family: monospace;
    background-color: #f5f7fa;
    border: 1px solid #cbd2d6;
    padding: 1px 2px;
    border-radius: 5px;
}
.round{
   vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #d8d8d8;
    text-align: center;
    font-weight: 600;
    padding-top: 6px;
    display: inline-block;
    margin-right: 20px;
}
.bulleted_list{
    margin-bottom: 60px;
   display: inline-block;
   padding: 0 20px;
}
.bulleted_content{
display: inline-block;
    width: calc(100% - 60px);
}
  
.slack_button{
    border-radius: 20px;
    margin-bottom: 60px;
}
  
/*   footer             //////////////////////////////////*/

footer {
    margin: 50px 0;
    font-size: 90%;
}
